<div class="tabs">
  <ul>
    <li><a (click)='selectTab(1)' [class.active]="isSelected(1)">Ingredients</a></li>
    <li><a (click)='selectTab(2)' [class.active]="isSelected(2)">Extras</a></li>
    <li><a (click)='selectTab(3)' [class.active]="isSelected(3)">Reviews</a></li>
  </ul>
</div>
<div class="panel">
  <div class="ingredients" *ngIf="isSelected(1)">
    <h4>Ingredients</h4>
    <blockquote>{{pizza.ingredients}}</blockquote>
  </div>
  <div class="extras" *ngIf="isSelected(2)">
    <h4>Extras</h4>
    <blockquote>Not yet</blockquote>
  </div>
  <reviews *ngIf="isSelected(3)" [reviews]="pizza.reviews"></reviews>
</div>
